
    div.game {
        height: 520px;
        width: 520px;
        }
        div.case {
        height: 150px;
        width: 100px;
        border: 1px solid black;
        float: left;
        margin: 10px;
        background-color: #9999FF;
        }
        img {
        height: 100px;
        width: 100px;
        
        visibility: hidden;
        }
        hr {
        clear: both;
        visibility: hidden;
        }
        .case{
            background: url('img/backcard.PNG');
            background-size: cover;
            background-position-x: center;
        }
    